.xtrSider {
	--paddingLeft: 0px;
	--paddingRight: 0px;
	--borderRadius: 36px;
	--siderWidthMini: 60px;

	width: 100%;
	height: 100%;
	background: var(--colorBackgroundSecondary);
	padding: 0 var(--paddingRight) 0 var(--paddingLeft);
	overflow: hidden;
	transition: all var(--animDurDefault) ease;
	
	.leftSiderContainer {
		position: fixed;
		left: 0;
		width: auto; height: 100%;
		z-index: 0;
		transition: transform var(--animDurDefault) var(--cubicBezierPrimary);
	}

	.rightSiderContainer {
		position: fixed;
		right: 0;
		width: auto; height: 100%;
		z-index: 1;
		transition: transform var(--animDurDefault) var(--cubicBezierPrimary);
	}

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		background: var(--colorBackgroundPrimary);
		box-shadow: 0 0 50px 2px #0000003D;
		border-radius: 0;
		z-index: 2;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	&.miniLeftSider {
		--paddingLeft: var(--siderWidthMini);

		.content {
			border-top-left-radius: var(--borderRadius);
			border-bottom-left-radius: var(--borderRadius);
		}
	}

	&.miniRightSider {
		--paddingRight: var(--siderWidthMini);

		.content {
			border-top-right-radius: var(--borderRadius);
			border-bottom-right-radius: var(--borderRadius);
		}
	}

	&.leftOpen {
		--transform: translateX(calc(32px + var(--leftSiderWidth) - var(--paddingLeft)));

		.rightSiderContainer {
			transform: var(--transform);
			pointer-events: none;
		}

		.content {
			border-radius: 36px;
			transform: var(--transform);
			transform-origin: left center;
			scale: 0.95;
		}
	}

	&.rightOpen {
		--transform: translateX(calc((32px + var(--rightSiderWidth) - var(--paddingRight)) * -1));

		.leftSiderContainer {
			transform: var(--transform);
			pointer-events: none;
		}

		.content {
			border-radius: 36px;
			transform: var(--transform);
			transform-origin: right center;
			scale: 0.95;
		}
	}

	@media (width <= 512px) {
		&.miniLeftSider {
			--paddingLeft: 0px !important;
		}

		&:not(.leftOpen) {
			.content {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}

		&.rightOpen {
			--transform: translateX(calc((32px + 100vh - var(--paddingRight)) * -1));
		}

		&.miniRightSider {
			--paddingRight: 0px !important;
		}

		&:not(.rightOpen) {
			.content {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}
}