.textfield {
	--duration: 0.6s;

	position: relative;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 0 1px rgb(var(--colorBrandAccentRgb) / 50%);
	background: var(--colorBackgroundSecondary);
	color: rgb(var(--colorContentPrimary));
	transition: all var(--duration) var(--cubicBezierPrimary);

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%; height: 100%;
		background: rgb(var(--colorBrandAccentRgb));
		clip-path: circle(0% at 20px 50%);
		border-radius: 9999px;
		z-index: 0;
		opacity: 0;
		transition: all var(--duration) var(--cubicBezierPrimary);
	}

	.icon {
		--fill: 0;

		position: absolute;
		left: 0;
		width: 40px;
		line-height: 40px;
		text-align: center;
		pointer-events: none;
		font-variation-settings: 'FILL' var(--fill), 'wght' 300;

		&.filled {
			--fill: 1;
		}
	}

	.input {
		width: 100%; height: 40px;
		outline: none;
		border: none;
		background: transparent;
		padding: 10px 20px;
		font-size: 16px;
		z-index: 1;
		color: rgb(var(--colorContentPrimary));
		-webkit-text-security: disc;
		font-variation-settings: 'wdth' 75, 'wght' 400;
		transition: all var(--duration) var(--cubicBezierPrimary);
	}

	&.textarea {
		.input {
			height: 200px;
			padding: 16px 20px;
			resize: none;
		}
	}

	&.withIcon {
		&::before {
			clip-path: circle(15px at 20px 50%);
			opacity: 0.4;
		}

		.input {
			padding: 10px 20px 10px 44px;
		}
	}

	&:focus-within {
		box-shadow: 0 0 0 2px rgb(var(--colorBrandAccentRgb) / 50%);
		background: var(--colorBackgroundPrimary);

		&.withIcon {
			&::before {
				clip-path: circle(17px at 20px 50%);
				opacity: 0.8;
			}

			.icon {
				color: white;
			}
		}
	}
}
