@mixin raisePlaceholder {
	.placeholder {
		font-variation-settings: 'wdth' 75, 'wght' 700;
		color: hsl(var(--colorBrandPrimary) / 100%);
		translate: 22px -12px;
		scale: 0.75;
		
		&::before {
			scale: 1;
		}
	}

	&.withIcon {
		.placeholder {
			translate: 42px -10px;
		}
	}

	&.phone {
		.placeholder {
			translate: 42px -10px;

		}

		.dialCode {	
			p {
				margin-top: 14px;
			}
		}
	}

	&.textarea {
		.placeholder {
			translate: 16px 8px;
		}
	}
}

.xtrTextfield {
	--fontSize: 14px;
	--primaryColor: var(--colorBackgroundSecondary);
	--secondaryColor: var(--colorBackgroundPrimary);

	position: relative;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 22px;
	box-shadow: 0 0 0 1px hsl(var(--colorBrandPrimary) / 50%);
	background: var(--primaryColor);
	color: hsl(var(--colorContentPrimary));
	transition: all var(--animDurDefault) var(--cubicBezierPrimary);

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%; height: 100%;
		background: hsl(var(--colorBrandPrimary));
		clip-path: circle(0% at 22px 50%);
		border-radius: 9999px;
		z-index: 0;
		opacity: 0;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	.xtrIcon {
		position: absolute;
		left: 0;
		width: 44px; height: 44px;
		font-size: calc(var(--fontSize) + 2px);
		color: hsl(var(--colorBrandPrimary) / 100%);
		pointer-events: none;
		transition: all 0s;
	}

	.dialCode {
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		gap: 4px;

		span {
			display: flex;
			width: 44px; height: 44px;
			background-size: cover;
			background-position: center;
			border-radius: 9999px;
			scale: 0.8;
		}

		p {
			margin: 0;
			font-size: var(--fontSize);
			transition: all var(--animDurDefault) var(--cubicBezierPrimary);
		}
	}

	.input {
		width: 100%;
		outline: none;
		border: none;
		background: transparent;
		padding: 20px 22px 6px;
		line-height: 18px;
		z-index: 1;
		font-size: var(--fontSize);
		font-variation-settings: 'wdth' 75, 'wght' 400;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);

		&[type="number"]::-webkit-inner-spin-button,
		&[type="number"]::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}

		&[type="number"] {
			appearance: textfield;
		}
	}

	.placeholder {
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		color: var(--colorContentSecondary);
		translate: 16px 0;
		transform-origin: 0 50%;
		font-size: var(--fontSize);
		line-height: 20px;
		padding: 0 8px;
		z-index: 2;
		pointer-events: none;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	&.withIcon {
		&::before {
			clip-path: circle(16px at 22px 50%);
			opacity: 0.4;
		}

		.input {
			padding-left: 48px;
		}

		.placeholder {
			translate: 40px 0;
		}
	}

	&.textarea {
		.input {
			height: 200px;
			padding: 0 22px;
			margin: 26px 0 8px;
			resize: none;
		}

		.placeholder {
			top: 0;
			translate: 16px 20px;
		}
	}
	
	&.phone {
		.input {
			padding-left: 74px;
		}

		.placeholder {
			translate: 68px 0;
		}
	}

	&.hasValue {
		@include raisePlaceholder;
	}

	&:focus-within, &.active {
		box-shadow: 0 0 0 2px hsl(var(--colorBrandPrimary) / 50%);
		background: var(--secondaryColor);

		@include raisePlaceholder;

		&.withIcon {
			&::before {
				clip-path: circle(18px at 22px 50%);
				opacity: 0.8;
			}

			.xtrIcon {
				color: white;
				font-weight: 900;
			}
		}

		.input {
			cursor: text !important;
		}
	}
}
