/* stylelint-disable selector-class-pattern */
$datePickerNames: datetime;

@mixin buttonBackground {
	&::before {
		$pad: 1px;

		content: '';
		position: absolute;
		inset: $pad $pad $pad $pad;
		border-radius: 9999px;
		z-index: -1;
	}

	&:hover {
		&::before {
			background: hsl(var(--colorBrandPrimary) / 75%);
		}

		color: white !important;
		
		* {
			color: white !important;
		}
	}
}

.xtrDatePicker {
	--fontSize: 14px;
	--primaryColor: var(--colorBackgroundSecondary);
	--secondaryColor: var(--colorBackgroundPrimary);

	display: flex;
	width: fit-content;
	min-width: 300px;
	justify-content: center;
	align-items: center;
	border-radius: 22px;
	box-shadow: 0 0 0 1px hsl(var(--colorBrandPrimary) / 50%);
	background: var(--primaryColor);
	color: hsl(var(--colorContentPrimary));
	transition: all var(--animDurDefault) var(--cubicBezierPrimary);

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%; height: 100%;
		background: hsl(var(--colorBrandPrimary));
		clip-path: circle(16px at 22px 50%);
		border-radius: 9999px;
		z-index: 0;
		opacity: 0.4;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	&::after {
		content: attr(data-testid);
		position: absolute;
		top: 3px;
		left: 40px;
		font-size: var(--fontSize);
		line-height: 20px;
		color: hsl(var(--colorBrandPrimary) / 100%);
		scale: 0.75;
		font-variation-settings: 'wdth' 75, 'wght' 700;
	}

	@each $name in $datePickerNames {
		.react-#{$name}-picker__wrapper {
			position: relative;
			display: flex;
			padding: 20px 8px 4px 48px ;
			border: none;

			* {
				line-height: 18px;
				font-size: 14px;
				font-variation-settings: 'wdth' 75, 'wght' 400;
			}
	
			.react-#{$name}-picker__inputGroup__input {
				border: none;
				outline: none;
				background: none;
			}
			.react-#{$name}-picker__calendar-button, .react-#{$name}-picker__clock-button {
				position: absolute;
				left: 0; top: 0;
				padding: 0;
				background: transparent;
				outline: none;
				border: none;
				cursor: pointer;
	
				> i {
					width: 44px; height: 44px;
					font-size: calc(var(--fontSize));
					color: hsl(var(--colorBrandPrimary) / 100%);
					pointer-events: none;
					transition: all 0s;
				}
			}
			.react-#{$name}-picker__clear-button {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 8px;
				background: transparent;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
		
		.react-#{$name}-picker__calendar {
			position: relative;
			width: 100%;
			border-radius: 4px 4px 22px 22px;
			box-shadow: 0 0 0 2px hsl(var(--colorBrandPrimary) / 50%);
			background: var(--colorBackgroundPrimary);
			padding: 4px;
			margin-top: 10px;
			z-index: 100;
	
			.react-calendar {
				width: 100%;
				background: transparent;
				border: none;
				user-select: none;
	
				.react-calendar__navigation__arrow {
					position: relative;
					aspect-ratio: 1;
					background: none;

					@include buttonBackground;
				}

				.react-calendar__navigation__label {
					position: relative;
					border-radius: 8px;
					background: none;

					@include buttonBackground;
				}
	
				.react-calendar__tile {
					position: relative;
					aspect-ratio: 1;
					background: none;
	
					&::before {
						content: '';
						position: absolute;
						inset: 1;
						border-radius: 9999px;
					}
	
					&.react-calendar__month-view__days__day--neighboringMonth {
						abbr {
							color: var(--colorContentTertiary);
						}
					}
	
					&--now {
						&::before {
							inset: 0;
							background: none;
							border: 1px solid hsl(var(--colorBrandPrimary) / 75%);
						}
					}
	
					@include buttonBackground;
					
					&--active, &--hasActive {
						&::before {
							inset: 0;
							background: hsl(var(--colorBrandPrimary) / 100%) !important;
						}

						abbr {
							color: white;
						}
					}
				}
	
				.react-calendar__year-view__months, .react-calendar__decade-view__years {
					.react-calendar__tile {
						aspect-ratio: unset;
						color: white;
	
						&::before {
							$pad: 3px;

							inset: $pad $pad $pad $pad;
							border-radius: 16px;
						}
	
						&--now {
							abbr {
								color: white;
							}
						}
					}
				}
			}
		}
	
		.react-#{$name}-picker__clock {
			--clockColor: hsl(var(--colorBrandPrimary) / 100%);
			
			width: 100%;
			height: auto;
			border-radius: 4px 4px 22px 22px;
			border: none;
			box-shadow: 0 0 0 2px hsl(var(--colorBrandPrimary) / 50%);
			background: var(--colorBackgroundPrimary);
			padding: 16px;
			margin-top: 10px;
			z-index: 100;
	
			.react-clock {
				margin: auto;

				.react-clock__face {
					border-color: var(--clockColor);
				}

				.react-clock__mark__body, .react-clock__hand__body {
					background: var(--clockColor);
				}
			}
		}
	
		&.react-#{$name}-picker--open {
			border-radius: 22px 22px 4px 4px !important;
			box-shadow: 0 0 0 2px hsl(var(--colorBrandPrimary) / 50%);
			background: var(--secondaryColor);
	
			&::before {
				clip-path: circle(18px at 22px 50%);
				opacity: 0.8;
			}
	
			.react-#{$name}-picker__calendar-button {	
				> i {
					color: white !important;
					font-weight: 900;
				}
			}
		}
	}
}