.xtrIcon {
	&.iconButton {
		border-radius: 9999px;
		padding: 16px;

		&:hover {
			cursor: pointer;
			background: hsl(var(--colorBrandPrimary) / 75%);
			color: white;
		}

		&:active {
			background: hsl(var(--colorBrandPrimary));
		}
	}
}