/* stylelint-disable font-family-no-missing-generic-family-keyword */
.icon {
	position: relative;
	width: var(--iconSize);
	height: var(--iconSize);
	font-size: var(--iconSize);
	display: flex;
	justify-content: center;
	align-items: center;
	font-variant: normal;
	text-rendering: auto;
	font-style: normal;
	user-select: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	z-index: 1;
	transition: all 0.4s var(--cubicBezierPrimary);

	&::before {
		position: absolute;
		display: block;
		color: inherit;
		content: attr(data-content);
	}
	
	&.thin {
		font-family: FontAwesome;
		font-weight: 100;
	}

	&.light {
		font-family: FontAwesome;
		font-weight: 300;
	}

	&.regular {
		font-family: FontAwesome;
		font-weight: 400;
	}

	&.solid {
		font-family: FontAwesome;
		font-weight: 900;
	}

	&.duotone {
		font-family: FontAwesomeDuotone;
		font-weight: 900;
	
		&::after {
			position: absolute;
			display: block;
			color: inherit;
			content: attr(data-content)attr(data-content);
			opacity: 0.3;
		}
	}

	&.sharpSolid {
		font-family: FontAwesomeSharp;
		font-weight: 900;
	}

	&.sharpRegular {
		font-family: FontAwesomeSharp;
		font-weight: 400;
	}

	&.sharpLight {
		font-family: FontAwesomeSharp;
		font-weight: 300;
	}

	&.brand {
		font-family: FontAwesomeBrand;
		font-weight: 400;
	}

	&.iconButton {
		border-radius: 9999px;
		padding: 16px;

		&:hover {
			cursor: pointer;
			background: rgb(var(--colorBrandAccentRgb) / 75%);
			color: white;
		}

		&:active {
			background: rgb(var(--colorBrandAccentRgb));
		}
	}
}