.xtrActionCard {
	--cardWidth: 164px;
	--cardHeight: 164px;
	--rippleColor: var(--colorBrandPrimary);
	--rippleShadowColor: var(--colorBackgroundTertiary);
	--cardBorderRadius: calc(min(var(--cardWidth), var(--cardHeight)) / 10);

	position: relative;
	width: var(--cardWidth);
	height: var(--cardHeight);
	border-radius: var(--cardBorderRadius);
	background: var(--colorBackgroundSecondary);
	cursor: pointer;

	&.miniSize {
		--rippleSize: 24px 12px;
	}

	&.smallSize {
		--rippleSize: 30px 15px;
	}

	&.mediumSize {
		--rippleSize: 48px 24px;
	}
}