@mixin colors {
	// Red
	--colorRedPrimaryRgb: 249 34 75;								// rgb(249 34 75)
	--colorRedSecondaryRgb: 255 68 68;								// rgb(255 68 68)
	--colorRedAccentRgb: 255 56 83;									// rgb(255 56 83)

	// Pink
	--colorPinkPrimaryRgb: 252 33 105;								// rgb(252 33 105)
	--colorPinkSecondaryRgb: 226 33 255;							// rgb(226 33 255)
	--colorPinkAccentRgb: 255 85 136;								// rgb(255 85 136)

	// Orange
	--colorOrangePrimaryRgb: 255 127 34;							// rgb(255 127 34)
	--colorOrangeSecondaryRgb: 255 65 65;							// rgb(255 65 65)
	--colorOrangeAccentRgb: 255 108 103;							// rgb(255 108 103);

	// Blue
	--colorBluePrimaryRgb: 34 252 176;								// rgb(34 252 176)
	--colorBlueSecondaryRgb: 33 129 250;							// rgb(33 129 250)
	--colorBlueAccentRgb: 33 149 243;								// rgb(33 149 243)

	// Violet
	--colorVioletPrimaryRgb: 63 0 230;								// rgb(63 0 230)
	--colorVioletSecondaryRgb: 150 44 255;							// rgb(150 44 255)
	--colorVioletAccentRgb: 127 81 255;								// rgb(127 81 255)

	// Black
	--colorBlackPrimaryRgb: 22 20 28;								// rgb(22 20 28)
	--colorBlackSecondaryRgb: 9 8 11;								// rgb(9 8 11)
	--colorBlackAccentRgb: 40 39 44;								// rgb(40 39 44)

	&.red {
		--colorBrandPrimaryRgb: var(--colorRedPrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorRedSecondaryRgb);
		--colorBrandAccentRgb: var(--colorRedAccentRgb);
	}

	&.pink {
		--colorBrandPrimaryRgb: var(--colorPinkPrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorPinkSecondaryRgb);
		--colorBrandAccentRgb: var(--colorPinkAccentRgb);
	}

	&.orange {
		--colorBrandPrimaryRgb: var(--colorOrangePrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorOrangeSecondaryRgb);
		--colorBrandAccentRgb: var(--colorOrangeAccentRgb);
	}

	&.blue {
		--colorBrandPrimaryRgb: var(--colorBluePrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorBlueSecondaryRgb);
		--colorBrandAccentRgb: var(--colorBlueAccentRgb);
	}

	&.violet {
		--colorBrandPrimaryRgb: var(--colorVioletPrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorVioletSecondaryRgb);
		--colorBrandAccentRgb: var(--colorVioletAccentRgb);
	}

	&.black {
		--colorBrandPrimaryRgb: var(--colorBlackPrimaryRgb);
		--colorBrandSecondaryRgb: var(--colorBlackSecondaryRgb);
		--colorBrandAccentRgb: var(--colorBlackAccentRgb);
	}

	// Alert Colors
	--colorAlertErrorRGB: 255 65 54;									// rgb(255 65 54)
	--colorAlertWarningRGB: 255 220 0;									// rgb(255 220 0)
	--colorAlertSuccessRGB: 46 204 64;									// rgb(46 204 64)

	// Border Colors
	--colorBorderPrimary: #ABB0BB;

	// Text Colors
	--colorContentPrimary: #383838;
	--colorContentSecondary: #666;
	--colorContentTertiary: #E6E6E6;

	// Background Colors
	--colorBackgroundPrimary: #FFF;
	--colorBackgroundSecondary: #F6F6F6;
	--colorBackgroundTertiary: #EEE;
	--colorShadow: rgb(100 100 100 / 40%);

	// Gradient Colors
	--gradientBrand: linear-gradient(320deg, rgb(var(--colorBrandPrimaryRgb)), rgb(var(--colorBrandSecondaryRgb)));

	// Cubic Bezier
	--cubicBezierPrimary: cubic-bezier(0.23, 1, 0.320, 1);

	&.dark {
		// Text Colors
		--colorContentPrimary: #A1A1A1;
		--colorContentSecondary: #636363;
		--colorContentTertiary: #383838;

		// Background Colors
		--colorBackgroundPrimary: #111;
		--colorBackgroundSecondary: #222;
		--colorBackgroundTertiary: #333;
	}
}