@use 'sass:list';

@mixin lightScheme {
	color-scheme: light;

	// Text Colors
	--colorContentPrimary: #383838;
	--colorContentSecondary: #666;
	--colorContentTertiary: #E6E6E6;

	// Background Colors
	--colorBackgroundPrimary: #FFF;
	--colorBackgroundSecondary: #F6F6F6;
	--colorBackgroundTertiary: #EEE;
}

@mixin darkScheme {
	color-scheme: dark;

	// Text Colors
	--colorContentPrimary: #A1A1A1;
	--colorContentSecondary: #636363;
	--colorContentTertiary: #383838;

	// Background Colors
	--colorBackgroundPrimary: #111;
	--colorBackgroundSecondary: #222;
	--colorBackgroundTertiary: #333;
}

@mixin colors {
	$colorMap: (
		red: (
			249 34 75,									// rgb(249 34 75)
			255 68 68,									// rgb(255 68 68)
			255 56 83,									// rgb(255 56 83)
		),
		pink: (
			252 33 105,									// rgb(252 33 105)
			226 33 255,									// rgb(226 33 255)
			255 85 136,									// rgb(255 85 136)
		),
		orange: (
			255 127 34,									// rgb(255 127 34)
			255 65 65,									// rgb(255 65 65)
			255 108 103,								// rgb(255 108 103)
		),
		blue: (
			34 252 176,									// rgb(34 252 176)
			33 129 250,									// rgb(33 129 250)
			33 149 243,									// rgb(33 149 243)
		),
		violet: (
			63 0 230,									// rgb(63 0 230)
			150 44 255,									// rgb(150 44 255)
			127 81 255,									// rgb(127 81 255)
		),
		black: (
			22 20 28,									// rgb(22 20 28)
			9 8 11,										// rgb(9 8 11)
			40 39 44,									// rgb(40 39 44)
		)
	);

	@each $colorName, $colorSet in $colorMap {
		$capitalizedColor: capitalize($colorName);

		--color#{$capitalizedColor}Primary: #{list.nth($colorSet, 1)};
		--color#{$capitalizedColor}Secondary: #{list.nth($colorSet, 2)};
		--color#{$capitalizedColor}Accent: #{list.nth($colorSet, 3)};

		&[data-theme-color=#{"" + $colorName}] {
			--colorBrandPrimaryRgb: var(--color#{$capitalizedColor}Primary);
			--colorBrandSecondaryRgb: var(--color#{$capitalizedColor}Secondary);
			--colorBrandAccentRgb: var(--color#{$capitalizedColor}Accent);
		}
	}

	// Alert Colors
	--colorAlertErrorRGB: 255 65 54;									// rgb(255 65 54)
	--colorAlertWarningRGB: 255 220 0;									// rgb(255 220 0)
	--colorAlertSuccessRGB: 46 204 64;									// rgb(46 204 64)

	// Border Colors
	--colorBorderPrimary: #ABB0BB;

	// Gradient Colors
	--gradientBrand: linear-gradient(320deg, rgb(var(--colorBrandPrimaryRgb)), rgb(var(--colorBrandSecondaryRgb)));

	// Cubic Bezier
	--cubicBezierPrimary: cubic-bezier(0.23, 1, 0.320, 1);

	&[data-theme-scheme='system'] {
		@media (prefers-color-scheme: light) {
			@include lightScheme;
		}
	
		@media (prefers-color-scheme: dark) {
			@include darkScheme;
		}
	}

	&[data-theme-scheme='light'] {
		@include lightScheme;
	}

	&[data-theme-scheme='dark'] {
		@include darkScheme;
	}
}