@use 'sass:list';
@use 'functions';
@use 'colorSchemes';

@mixin colors {
	// Brand Colors (HSL)
	--H: 2;
	--S: 100%;
	--L: 70%;
	--L2: min(calc(var(--L) + 10%), 100%);
	--L3: min(calc(var(--L) + 20%), 100%);

	--colorBrandPrimary: var(--H) var(--S) var(--L);
	--colorBrandSecondary: var(--H) var(--S) var(--L2);
	--colorBrandTertiary: var(--H) var(--S) var(--L3);

	// Alert Colors
	--colorAlertError: 4 100% 60%;										// hsl(4 100% 60%)
	--colorAlertWarning: 52 100% 50%;									// hsl(52 100% 50%)
	--colorAlertSuccess: 126 63% 49%;									// hsl(126 63% 49%)

	// Border Colors
	--colorBorderPrimary: #ABB0BB;

	// Gradient Colors
	--gradientBrand: linear-gradient(320deg, rgb(var(--colorBrandPrimary)), rgb(var(--colorBrandSecondaryRgb)));

	// Cubic Bezier
	--animDurSlow: 1s;
	--animDurDefault: 0.6s;
	--animDurFast: 0.4s;
	--cubicBezierPrimary: cubic-bezier(0.23, 1, 0.320, 1);

	&[data-theme-scheme='auto'] {
		@include colorSchemes.autoScheme;
	}

	&[data-theme-scheme='light'] {
		@include colorSchemes.lightScheme;
	}

	&[data-theme-scheme='dark'] {
		@include colorSchemes.darkScheme;
	}
}