@mixin lightScheme {
	color-scheme: light;

	--colorContentPrimary: #383838;
	--colorContentSecondary: #666;
	--colorContentTertiary: #b4b4b4;

	--colorBackgroundPrimary: #FFF;
	--colorBackgroundSecondary: #DDD;
	--colorBackgroundTertiary: #AAA;
}

@mixin darkScheme {
	color-scheme: dark;

	--colorContentPrimary: #A1A1A1;
	--colorContentSecondary: #636363;
	--colorContentTertiary: #383838;

	--colorBackgroundPrimary: #111;
	--colorBackgroundSecondary: #222;
	--colorBackgroundTertiary: #333;
}

@mixin autoScheme {
	@media (prefers-color-scheme: light) {
		@include lightScheme;
	}

	@media (prefers-color-scheme: dark) {
		@include darkScheme;
	}
}