@import 'functions';
@import 'fontAwesome';
@import 'colors';
@import 'sizes';
@import 'animations/shadowRipple';

html {
	@include colors;
	@include sizes;

	background: var(--colorBackgroundPrimary);
	scroll-behavior: smooth;

	::selection {
		color: white;
		background: rgb(var(--colorBrandAccentRgb));
	}

	* {
		font-variation-settings: 'wdth' 75, 'wght' 500;
		color: var(--colorContentPrimary);
		box-sizing: border-box;
	}
}