@use 'react-datetime-picker/dist/DateTimePicker.css';
@use 'react-calendar/dist/Calendar.css';
@use 'react-clock/dist/Clock.css';

@use 'fontAwesome';
@use 'colors';
@use 'animations/shadowRipple';

html {
	scroll-behavior: smooth;
	
	background: var(--colorBackgroundPrimary);
	
	::selection {
		color: white;
		background: rgb(var(--colorBrandAccentRgb));
	}

	@include colors.colors;
	
	* {
		font-variation-settings: 'wdth' 75, 'wght' 500;
		color: var(--colorContentPrimary);
		box-sizing: border-box;
	}
}