.xtrAvatar {
	--avatarSize: 64px;

	position: relative;
	width: var(--avatarSize);
	height: var(--avatarSize);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		width: var(--avatarSize);
		height: var(--avatarSize);
		border-radius: 9999px;
		border: calc(2px + var(--avatarSize) / 300) solid hsl(var(--colorBrandPrimary) / 75%);
		transition: all var(--animDurFast) var(--cubicBezierPrimary);
	}

	&::after {
		content: "";
		position: absolute;
		width: var(--avatarSize);
		height: var(--avatarSize);
		border-radius: 9999px;
		border: calc(4px + var(--avatarSize) / 300) solid hsl(var(--colorBrandPrimary) / 100%);
		border-left-color: transparent;
		border-right-color: transparent;
		opacity: 0;
		transition: all var(--animDurFast) var(--cubicBezierPrimary);
	}

	.placeholder {
		color: hsl(var(--colorBrandPrimary) / 100%);
	}

	.image {
		--imageSize: calc(100% - (4px + var(--avatarSize) / 100));

		position: absolute;
		width: var(--imageSize);
		height: var(--imageSize);
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		z-index: 2;
		transition: all var(--animDurFast) var(--cubicBezierPrimary);
		animation: fadeIn 0.2s ease-out forwards;
	}

	&.loading {
		&::after {
			opacity: 1;
			animation: avatarSpin 1s infinite linear;
		}
	}

	&.error {
		&::before, &::after {
			border-color: hsl(var(--colorAlertError));
		}

		.placeholder {
			color: hsl(var(--colorAlertError));
		}
	}

	&:hover {
		&::before, &::after {
			scale: 1.1;
		}
	}

	&:active {
		&::before, &::after {
			scale: 1;
		}
	}

	@keyframes avatarSpin {
		0% {
			transform: rotate(0);
			animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		50% {
			transform: rotate(360deg);
			animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		100% {
			transform: rotate(720deg);
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
