.colorPicker {
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 24px;

	.alpha {
		height: 7px !important;
		border-radius: 9999px !important;

		div {
			&:first-child {
				border-radius: 9999px !important;
			}

			&:last-child {
				display: flex;
				align-items: center;
			}
		}
	}
}