.xtrColorPicker {
	display: flex;
	flex-direction: column;

	.wheel {
		cursor: crosshair;
		margin-bottom: 24px;
	}

	.shade, .alpha {
		height: 5px !important;
		border-radius: 9999px !important;

		div {
			&:first-child {
				border-radius: 9999px !important;
			}

			&:last-child {
				display: flex;
				align-items: center;
			}
		}
	}

	.shade {
		margin-bottom: 16px;
	}
}