@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block';

@mixin colors {
	&.red {
		--colorBrandPrimaryRgb: 249 34 75;								// rgb(249 34 75)
		--colorBrandSecondaryRgb: 255 68 68;							// rgb(255 68 68)
		--colorBrandAccentRgb: 255 56 83;								// rgb(255 56 83)
	}

	&.pink {
		--colorBrandPrimaryRgb: 252 33 105;								// rgb(252 33 105)
		--colorBrandSecondaryRgb: 226 33 255;							// rgb(226 33 255)
		--colorBrandAccentRgb: 255 85 136;								// rgb(255 85 136)
	}

	&.orange {
		--colorBrandPrimaryRgb: 255 127 34;								// rgb(255 127 34)
		--colorBrandSecondaryRgb: 255 65 65;							// rgb(255 65 65)
		--colorBrandAccentRgb: 255 108 103;								// rgb(255 108 103);
	}

	&.blue {
		--colorBrandPrimaryRgb: 34 252 176;								// rgb(34 252 176)
		--colorBrandSecondaryRgb: 33 129 250;							// rgb(33 129 250)
		--colorBrandAccentRgb: 33 149 243;								// rgb(33 149 243)
		
	}

	&.violet {
		--colorBrandPrimaryRgb: 63 0 230;								// rgb(63 0 230)
		--colorBrandSecondaryRgb: 150 44 255;							// rgb(150 44 255)
		--colorBrandAccentRgb: 127 81 255;								// rgb(127 81 255)
	}

	&.black {
		--colorBrandPrimaryRgb: 22 20 28;								// rgb(22 20 28)
		--colorBrandSecondaryRgb: 9 8 11;								// rgb(9 8 11)
		--colorBrandAccentRgb: 40 39 44;								// rgb(40 39 44)
	}

	// Alert Colors
	--colorAlertErrorRGB: 255 65 54;									// rgb(255 65 54)
	--colorAlertWarningRGB: 255 220 0;									// rgb(255 220 0)
	--colorAlertSuccessRGB: 46 204 64;									// rgb(46 204 64)

	// Border Colors
	--colorBorderPrimary: #ABB0BB;

	// Text Colors
	--colorContentPrimary: #383838;
	--colorContentSecondary: #666;
	--colorContentTertiary: #E6E6E6;

	// Background Colors
	--colorBackgroundPrimary: #FFF;
	--colorBackgroundSecondary: #F6F6F6;
	--colorBackgroundTertiary: #EEE;
	--colorShadow: rgb(100 100 100 / 40%);

	// Gradient Colors
	--gradientBrand: linear-gradient(320deg, rgb(var(--colorBrandPrimaryRgb)), rgb(var(--colorBrandSecondaryRgb)));

	// Cubic Bezier
	--cubicBezierPrimary: cubic-bezier(0.23, 1, 0.320, 1);

	&.dark {
		// Text Colors
		--colorContentPrimary: #A1A1A1;
		--colorContentSecondary: #636363;
		--colorContentTertiary: #383838;

		// Background Colors
		--colorBackgroundPrimary: #111;
		--colorBackgroundSecondary: #222;
		--colorBackgroundTertiary: #333;
	}
}

@mixin sizes {
	--siderWidth: 300px;
	--siderWidthMini: 60px;
}

body {
	@include colors;
	@include sizes;

	scroll-behavior: smooth;

	::selection {
		color: white;
		background: rgb(var(--colorBrandAccentRgb));
	}
}

* {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	box-sizing: border-box;
}