.spinner {
	--spinnerSize: 64px;
	--spinnerCubeSize: calc(var(--spinnerSize) / 2);
	--spinnerTopColor: 67 67 67;

	position: relative;
	width: var(--spinnerSize); height: var(--spinnerSize);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.fullpage {
		width: 100%; height: 100%;
	}

	.label {
		position: relative;
		font-size: calc(12px + (var(--spinnerSize) / 20));
		margin-top: calc(var(--spinnerSize) / 4);
		color: var(--colorContentPrimary);
	}

	.spinnerWrapper {
		position: relative;
		width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
		margin-top: calc(var(--spinnerCubeSize) * -0.1);
		transform-style: preserve-3d;
		animation: spin 8s linear infinite;
	
		.cubeTop {
			position: absolute;
			width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
			background: rgb(var(--spinnerTopColor));
			transform: rotateX(90deg) translateZ(calc(var(--spinnerCubeSize) / 2));
			transform-style: preserve-3d;
	
			&::before {
				content: '';
				position: absolute;
				width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
				background: rgb(var(--colorBrandAccentRgb) / 80%);
				transform: translateZ(calc(-1 * var(--spinnerCubeSize) * 1.2));
				filter: blur(25px);
				box-shadow: 0 0 10px rgb(var(--spinnerTopColor)),
					0 0 20px rgb(var(--colorBrandAccentRgb)),
					0 0 30px rgb(var(--spinnerTopColor)),
					0 0 40px rgb(var(--colorBrandAccentRgb));
			}
		}
	
		.cubeWrapper {
			position: absolute;
			width: 100%; height: 100%;
			transform-style: preserve-3d;
	
			.cubeFace {
				position: absolute;
				width: 100%; height: 100%;
				background: white;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					width: 100%; height: 100%;
					background: linear-gradient(
						to bottom,
						rgb(var(--colorBrandAccentRgb) / 100%),
						rgb(var(--colorBrandAccentRgb) / 25%),
					);
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					width: 100%; height: 100%;
					background: linear-gradient(
						to bottom,
						rgb(var(--spinnerTopColor) / 100%) 0%,
						rgb(var(--spinnerTopColor) / 40%) 5%,
						rgb(var(--spinnerTopColor) / 10%) 10%,
						transparent 100%,
					);
				}
	
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						transform: rotateY(calc(90deg * #{$i})) translateZ(calc(var(--spinnerCubeSize) / 2));
					}
				}
			}
		}
	}

	@keyframes spin {
		0% {
			transform: rotateX(-30deg) rotateY(0);
		}
	  
		100% {
			transform: rotateX(-30deg) rotateY(360deg);
		}
	}
}
