.xtrSpinner {
	--spinnerSize: 64px;
	--spinnerCubeSize: calc(var(--spinnerSize) / 2);
	--spinnerShadowSize: calc(var(--spinnerSize) / 20);
	--spinnerTopColor: 50 50 50;

	position: relative;
	width: var(--spinnerSize); height: var(--spinnerSize);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.fullpage {
		width: 100%; height: 100%;
	}

	.label {
		position: absolute;
		bottom: 50%;
		font-variation-settings: 'wdth' 75, 'wght' 500;
		font-size: calc(8px + (var(--spinnerSize) / 18));
		color: var(--colorContentPrimary);
		transform: translateY(calc(5px + var(--spinnerSize) / 1.6));
	}

	.spinnerWrapper {
		position: relative;
		width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
		margin-top: calc(var(--spinnerCubeSize) * -0.1);
		transform-style: preserve-3d;
		animation: spin 0.8s linear infinite;
	
		.cubeTop {
			position: absolute;
			width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
			background: rgb(var(--spinnerTopColor));
			transform: rotateX(90deg) translateZ(calc(var(--spinnerCubeSize) / 2));
			transform-style: preserve-3d;
			transition: all var(--animDurFast) var(--cubicBezierPrimary);
	
			&::before {
				content: '';
				position: absolute;
				width: var(--spinnerCubeSize); height: var(--spinnerCubeSize);
				background: rgb(var(--colorBrandAccentRgb) / 80%);
				transform: translateZ(calc(-1 * var(--spinnerCubeSize) * 1.2));
				filter: blur(var(--spinnerShadowSize));
				box-shadow: 0 0 var(--spinnerShadowSize) rgb(var(--spinnerTopColor)),
					0 0 calc(var(--spinnerShadowSize) * 2) rgb(var(--colorBrandAccentRgb)),
					0 0 calc(var(--spinnerShadowSize) * 3) rgb(var(--spinnerTopColor)),
					0 0 calc(var(--spinnerShadowSize) * 4) rgb(var(--colorBrandAccentRgb));
			}
		}
	
		.cubeWrapper {
			position: absolute;
			width: 100%; height: 100%;
			transform-style: preserve-3d;
	
			.cubeFace {
				position: absolute;
				width: 100%; height: 100%;
				background: white;
				transition: all var(--animDurFast) var(--cubicBezierPrimary);

				&::before {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					width: 100%; height: 100%;
					background: linear-gradient(
						to bottom,
						rgb(var(--colorBrandAccentRgb) / 100%),
						rgb(var(--colorBrandAccentRgb) / 40%),
					);
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					width: 100%; height: 100%;
					background: linear-gradient(
						to bottom,
						rgb(var(--spinnerTopColor) / 100%) 0%,
						rgb(var(--spinnerTopColor) / 40%) 5%,
						rgb(var(--spinnerTopColor) / 10%) 10%,
						transparent 100%,
					);
				}
	
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						transform: rotateY(calc(90deg * #{$i})) translateZ(calc(var(--spinnerCubeSize) / 2));
					}
				}
			}
		}
	}

	@keyframes spin {
		0% {
			transform: rotateX(-30deg) rotateY(0);
		}
	  
		100% {
			transform: rotateX(-30deg) rotateY(360deg);
		}
	}
}
