/* stylelint-disable selector-class-pattern */
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap';

.docs-story {
	background: var(--colorBackgroundPrimary);
}

html {
	* {
		font-family: Montserrat, sans-serif;
		font-variation-settings: 'wdth' 75, 'wght' 500;
		color: var(--colorContentPrimary);
		box-sizing: border-box;
	}
}