.progressBar {
	position: relative;
	width: 100%;
	height: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 9999px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		border-radius: 9999px;
		opacity: 0.3;
		background: var(--colorBorderPrimary);
		transition: all 0.5s var(--cubicBezierPrimary);
	}

	> .progress {
		position: absolute;
		width: 100%; height: 3px;
		display: block;
		background: var(--gradientBrand);
		border-radius: 9999px;
		transition: all 0.5s var(--cubicBezierPrimary);
	}

	&.intermediate {
		border-radius: 9999px;

		&::before {
			height: 100%;
			background: hsl(var(--colorBrandPrimary));
		}

		> .progress {
			width: 150%;
			background-image: repeating-linear-gradient(
				60deg,
				transparent,
				transparent 0.5rem,
				hsl(var(--colorBrandPrimary)) 0.5rem,
				hsl(var(--colorBrandPrimary)) 1.5rem
			);
			animation: barberPole 0.2s infinite linear;
		}
	}

	@keyframes barberPole {
		from { transform: translateX(-1.75rem); }
		to { transform: translateX(0); }
	}
}
