/* stylelint-disable selector-class-pattern */
.xtrSelectWrapper {
	position: relative;
	display: flex;
	width: auto;
	align-items: center;

	.xtrSelect {
		width: auto;
		position: relative;
	
		&__control {
			min-width: 250px;
			width: auto;
			position: relative;
			background: var(--colorBackgroundSecondary) !important;
			border: none !important;
			padding: 0 8px 0 22px !important;
			border-radius: 22px !important;
			box-shadow: 0 0 0 0px var(--colorBackgroundSecondary) !important;
			transition: all var(--animDurDefault) var(--cubicBezierPrimary) !important;
	
			&::before {
				content: '';
				position: absolute;
				left: 0;
				display: block;
				width: 100%; height: 100%;
				background: var(--colorContentSecondary);
				clip-path: circle(0% at 22px);
				border-radius: 9999px;
				opacity: 0;
				transition: all var(--animDurDefault) var(--cubicBezierPrimary);
			}
		}
	
		&__value-container {
			padding: 16px 16px 2px 0 !important;
			font-size: 14px;
	
			&.xtrSelect__value-container--is-multi {
				padding: 9px 0 !important;

				&.xtrSelect__value-container--has-value {
					margin-left: -10px;
				}
			}
		}
	
		&__multi-value {
			background: var(--colorBackgroundTertiary) !important;
			border-radius: 9999px !important;
			overflow: hidden !important;
	
			&__label {
				padding: 3px 6px 3px 8px !important;
				color: var(--colorContentPrimary) !important;
			}
	
			&__remove {
				color: var(--colorContentPrimary) !important;
				padding: 0 8px 0 2px !important;
				cursor: pointer !important;
	
				&:hover {
					background: rgb(var(--colorAlertErrorRGB) / 50%) !important;
				}
			}
		}
	
		&__indicator-separator {
			display: none;
		}
	
		&__indicator {
			cursor: pointer;
		}
	
		&__single-value, &__input {
			color: var(--colorContentPrimary) !important;
		}
	
		&__menu {
			background: var(--colorBackgroundPrimary) !important;
			box-shadow: 0 0 0 2px rgb(var(--colorBrandAccentRgb) / 50%) !important;
			border-radius: 4px 4px 22px 22px !important;
			margin-top: 10px !important;
			overflow: hidden !important;
			animation: showDropDown 0.2s ease-out forwards;
			z-index: 100;
		}
	
		&__menu-list {
			padding: 0 !important;
		}
	
		&__option {
			padding: 12px 24px !important;
			cursor: pointer !important;
	
			&--is-focused {
				color: white !important;
				background: rgb(var(--colorBrandAccentRgb) / 50%) !important;
			}
	
			&--is-selected {
				color: white !important;
				background: rgb(var(--colorBrandAccentRgb)) !important;
			}
		}
	
		&--is-disabled {
			opacity: 0.5 !important;
		}
	}

	.xtrSelectIcon {
		position: absolute;
		left: 0;
		width: 44px;
		height: 44px;
		font-size: 16px;
		color: var(--colorContentPrimary);
	}

	.placeholder {
		position: absolute;
		left: 18px;
		font-size: 14px;
		color: var(--colorContentSecondary);
		transform-origin: 0 50%;
		pointer-events: none;
		margin: 0;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	&.single {
		.xtrSelect__placeholder {
			opacity: 0;
		}
	}

	&.open, &.withValue {
		.xtrSelect__control {
			&::before {
				background: rgb(var(--colorBrandAccentRgb));
			}
		}
		.placeholder {
			transform: translate(8px, -12px);
			scale: 0.75;
			font-variation-settings: 'wdth' 75, 'wght' 700;
			color: rgb(var(--colorBrandAccentRgb) / 100%);
		}
	}

	&.withIcon {
		.xtrSelect__control {
			padding: 0 8px 0 48px !important;

			&::before {
				clip-path: circle(17px at 22px);
				opacity: 0.4;
			}

			&--menu-is-open {
				&::before {
					clip-path: circle(19px at 22px);
					opacity: 0.8;
				}
			}
		}

		.xtrSelect__value-container  {
			&.xtrSelect__value-container--is-multi.xtrSelect__value-container--has-value {
				padding-left: 10px !important;
			}
		}

		.input {
			padding-left: 48px;
		}

		.placeholder {
			transform: translate(30px, 0);
		}

		&.withValue, &.open {
			.placeholder {
				transform: translate(42px, -12px);
			}
		}
	}

	&.open {
		.xtrSelect__control {
			border-radius: 22px 22px 4px 4px !important;
			background: var(--colorBackgroundPrimary) !important;
			box-shadow: 0 0 0 2px rgb(var(--colorBrandAccentRgb) / 50%) !important;

			&::before {
				background: rgb(var(--colorBrandAccentRgb));
			}
		}

		.xtrSelectIcon {
			color: white;
			font-weight: 900;
		}
	}

	&.miniSize {
		width: auto;
		.xtrSelect {
			width: auto;
			position: relative;
	
			&__control {
				min-width: 100px;
				width: auto;
				height: 32px;
				min-height: 32px;
				padding: 0 8px 0 16px !important;

				&::before {
					clip-path: circle(12px at 16px);
				}
			}
			&__value-container {
				padding: 12px 16px 2px 0 !important;
				font-size: 11px;
			}
			&__menu {
				margin-top: 6px !important;
				border-radius: 4px 4px 16px 16px !important;
			}
			&__option {
				padding: 8px 24px !important;
				font-size: 12px;
			}
			&__indicator {
				svg {
					width: 16px;
					height: 16px;
				}
			}
			&__menu-list {
				max-height: 220px;
			}
		}
		.xtrSelectIcon {
			width: 31px;
			height: 31px;
			font-size: 12px;
		}

		.placeholder {
			font-variation-settings: 'wdth' 75, 'wght' 500;
			scale: 1;
			font-size: 12px;
			transform: translate(0, 0);
		}

		&.withIcon {
			.xtrSelect {
				&__control {
					padding: 0 8px 0 36px !important;
				}
			}
			.placeholder {
				transform: translate(20px, 0);
			}
		}

		&.open {
			.xtrSelect {
				&__control {
					border-radius: 16px 16px 4px 4px !important;

					&::before {
						clip-path: circle(14px at 16px);
					}
				}
			}
		}
		&.open:not(.noSearch), &.withValue {
			.placeholder {
				font-variation-settings: 'wdth' 75, 'wght' 600;
				scale: 0.75 !important;
				transform: translate(2px, -10px);
			}
			&.withIcon {
				.placeholder {
					scale: 0.75 !important;
					transform: translate(28px, -10px);
				}
			}
		}
	}
	&.largeSize {
		width: auto;
		.xtrSelect {
			width: auto;
			position: relative;
	
			&__control {
				min-width: 300px;
				width: auto;
				height: 60px;
				min-height: 60px;
				border-radius: 30px !important;
				padding: 0 12px 0 24px !important;

				&::before {
					clip-path: circle(24px at 30px);
				}
			}
			&__value-container {
				font-size: 22px;
				padding: 18px 16px 0px 0 !important;
			}
			&__option {
				padding: 18px 24px !important;
				font-size: 20px;
			}
			&__indicator {
				svg {
					width: 24px;
					height: 24px;
				}
			}
			&__menu-list {
				max-height: 420px;
			}
		}
		.xtrSelectIcon {
			width: 60px;
			height: 60px;
			font-size: 22px;
		}
		.placeholder {
			font-variation-settings: 'wdth' 75, 'wght' 500;
			scale: 1;
			font-size: 20px;
			transform: translate(8px, 0);
		}

		&.withIcon {
			.xtrSelect {
				&__control {
					padding: 0 8px 0 64px !important;
				}
			}
			.placeholder {
				transform: translate(50px, 0);
			}
		}
		&.open {
			.xtrSelect {
				&__control {
					border-radius: 30px 30px 4px 4px !important;

					&::before {
						clip-path: circle(26px at 30px);
					}
				}
			}
		}
		&.open:not(.noSearch), &.withValue {
			.placeholder {
				font-variation-settings: 'wdth' 75, 'wght' 600;
				scale: 0.75 !important;
				transform: translate(12px, -18px);
			}
			&.withIcon {
				.placeholder {
					scale: 0.75 !important;
					transform: translate(66px, -18px);
				}
			}
		}
	}

	&.noSearch {
		* {
			cursor: pointer;
		}
	}

	@keyframes showDropDown {
		0% {
		  opacity: 0;
		  transform: translateY(-20px);
		}

		100% {
		  opacity: 1;
		  transform: translateY(0);
		}
	}

	&:not(.open) {
		.xtrSelect__input {
			caret-color: transparent;
		}
	}
}