@import '../../../styles/colorSchemes';

.themePicker {
	--schemeSize: 180px;
	--schemeGap: 24px;
	--globalTertiaryColor: var(--colorBackgroundTertiary);

	position: relative;
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: var(--schemeGap);

	.themeSchemes {
		display: flex;
		gap: calc(var(--schemeGap) / 1.2);

		* {
			transition: all var(--animDurDefault) var(--cubicBezierPrimary);
		}

		.themeSchemeItem {
			--rippleShadowColor: var(--globalTertiaryColor);
			--cardBorderRadius: calc(var(--schemeGap) / 2);
			
			position: relative;
			width: var(--schemeSize);
			height: calc(var(--schemeSize) * 0.8);
			background: var(--colorBackgroundSecondary);
			user-select: none;
			cursor: pointer;
			transition: all var(--animDurDefault) var(--cubicBezierPrimary), box-shadow var(--animDurDefault) linear;

			&.system {
				@include systemScheme;
			}

			&.light {
				@include lightScheme;
			}

			&.dark {
				@include darkScheme;
			}

			.design {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				overflow: hidden;
				background: var(--colorBackgroundTertiary);

				.navigation {
					position: absolute;
					top: 0; left: 0;
					width: 25%;
					height: 100%;
					display: flex;
					flex-direction: column;
					gap: calc(var(--schemeGap) / 6);
					padding: calc(var(--schemeGap) / 2.4) 0;
					background: var(--colorBackgroundTertiary);

					.navigationItem {
						width: 100%;
						height: calc(var(--schemeGap) / 6);
						background: black;
						opacity: 0.2;

						&:first-child {
							margin-top: 10px;
							background: white;
						}

						&:last-child {
							margin-top: auto;
						}
					}
				}

				.content {
					position: absolute;
					top: 0; left: 4%;
					width: 96%;
					height: 100%;
					border-top-left-radius: calc(var(--schemeGap) / 2);
					border-bottom-left-radius: calc(var(--schemeGap) / 2);
					background: var(--colorBackgroundPrimary);

					.header {
						position: absolute;
						top: 0; left: 0;
						width: 100%;
						height: calc(var(--schemeGap) / 2);
						
						&::before {
							content: '';
							position: absolute;
							top: calc(var(--schemeGap) / 3); left: calc(var(--schemeGap) / 3);
							display: block;
							width: calc(var(--schemeGap) / 4); height: calc(var(--schemeGap) / 4);
							border-radius: 9999px;
							background: var(--colorBackgroundTertiary);
						}

						&::after {
							content: '';
							position: absolute;
							top: calc(var(--schemeGap) / 3); left: calc(var(--schemeGap) / 1.2);
							display: block;
							width: calc(var(--schemeGap) * 2); height: calc(var(--schemeGap) / 4);
							border-radius: 9999px;
							background: var(--colorBackgroundTertiary);
						}
					}

					.profile {
						position: absolute;
						top: calc(var(--schemeGap) / 1.1); left: 50%;
						transform: translateX(-50%);
						width: calc(var(--schemeGap)); height: calc(var(--schemeGap));
						border-radius: 9999px;
						background: var(--colorBackgroundTertiary);

						&::before {
							content: '';
							position: absolute;
							top: calc(var(--schemeGap) * 1.2); left: 50%;
							transform: translateX(-50%);
							display: block;
							width: calc(var(--schemeGap) * 1.5); height: calc(var(--schemeGap) / 8);
							border-radius: 9999px;
							background: var(--colorBackgroundTertiary);
							transition: all var(--animDurDefault) var(--cubicBezierPrimary);
						}
					}
				}
			}

			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--colorContentPrimary);
				margin-bottom: calc(var(--schemeGap) / 2);
				gap: calc(var(--schemeGap) / 3);

				.footerIcon {
					font-size: calc(var(--schemeGap) / 1.5);
					text-transform: capitalize;
					color: inherit;
				}

				.footerLabel {
					font-size: calc(var(--schemeGap) / 1.6);
					font-variation-settings: 'wdth' 75, 'wght' 700;
					text-transform: uppercase;
					color: inherit;
				}
			}

			&:hover {
				.design {
					.content {
						top: 0; left: 20%;
						width: 80%;
					}
				}
			}

			&.active, &:hover {
				.design {
					.navigation {
						background: rgb(var(--colorBrandAccentRgb));

						.navigationItem {
							opacity: 0.3;
						}
					}

					.content {
						.header {
							&::before {
								background: rgb(var(--colorBrandAccentRgb));
							}
						}
					}
				}

				.footer {
					color: rgb(var(--colorBrandAccentRgb));
				}
			}
		}
	}

	.themeColors {
		display: flex;
		justify-content: space-between;
		flex: 1;
	}
}